*{
  font-family: 'Itim', cursive;
}

.Main{
  margin: 0;
  padding: 1rem;
  border-style: solid;
  border-radius: 45px;
  border-inline-color: rgb(115, 136, 255);
  border-width: thin;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header{
  border-radius: 45px;
  color: white;
  background-color: rgb(115, 136, 255);
  margin: 0;
  text-align: center;
  padding: 0.1rem;
}

.SubHeader{
  font-size: 20px;
  border-radius: 45px;
  color: white;
  background-color: rgb(115, 136, 255);
  margin: 0;
  padding: 0 1rem;
  width:fit-content;
}
input{
  border-radius: 45px;
  border-color: rgb(115, 136, 255);
  padding-left: 1rem;
}

select{
  border-radius: 45px;
  border-color: rgb(115, 136, 255);
  padding-left: 0.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;